<section class="searchbox" aria-label="Searchbox">
  <div class="searchbox--section">
    <h2>Input search section</h2>
    <input [(ngModel)]="searchText" placeholder="Search..." />
    <button (click)="onSearch()" [disabled]="isSearching">Search</button>
   <!--  ngif enable when searching the elements -->
    <div *ngIf="isSearching">Searching...</div>
    <!-- here append the search result -->
    <ul *ngIf="results.length">
      <li *ngFor="let result of results">
        <p><strong>Name : </strong> {{ result.name }} </p> 
        <p><strong>Email: </strong> {{ result.email }}</p> 
        <p><strong>Description: </strong> {{ result.body }}</p>
      </li>
    </ul>
  </div>
</section>

  