// i added var to resuse in multiple files.
$font-family: Arial, Verdana, sans-serif;
$primary-color: #0f0f0f;

@import url(../src/app/app.component.scss);
@import url(../src/app/searchbox/searchbox.component.scss);
.header{
    background-color: $primary-color;
    padding: 10px 8px;
    h1{
        margin: 0;
    }
}
body{
    margin: 0;
    font-family: $font-family;
}
h1, h2, p{
    font-family: $font-family;
}